.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  app-main-header {
    display: flex;
    height: var(--header-height);
  }

  .display-page__wrapper {
    height: calc(100% - var(--header-height));
  }
}
