:host {
  height: 100%;
}

.search-cards__wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--palette-main-background);
  display: flex;
  flex-direction: column;

  > * {
    padding: 10px;
  }

  app-search-cards-header {
    flex: 0 0 auto;
  }

  app-search-cards-list {
    flex: 1;
    overflow-y: auto;
  }
}
